body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container.body-content {
    max-width: 100%;
    padding: 0;
}

.header-section {
    background-color: #18244c;
    color: white;
    padding: 10px 0;
    margin-bottom: 20px;
}

.header-content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.task-title {
    font-size: 2.5em;
    font-weight: bold;
    margin: 0;
}

.developer-name {
    font-size: 1.4em;
    margin: 0;
}

.task-checklist {
    margin: 20px auto;
    width: 80%;
    font-family: Arial, sans-serif;
}

.task-checklist thead th {
    font-size: 1.2em;
    font-weight: bold;
    background-color: #b9d8ee;
    padding: 10px;
}

.task-checklist table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.task-checklist tbody tr:nth-child(odd) {
    background-color: #e9e9e9;
}

.task-checklist tbody tr:nth-child(even) {
    background-color: #ffffff;
}

.task-checklist th, .task-checklist td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.task-checklist td:nth-child(1) {
    padding-left: 5px;
    text-align: left;
    min-width: 350px;
    max-width: 500px;
    width: 40%;
}

.task-checklist td:nth-child(2) { 
    min-width: 50px;
    max-width: 100px;
    width: 10%; 
}

.task-checklist td:nth-child(3) {
    min-width: 50px;
    max-width: 100px;
    width: 10%; 
}

.task-checklist td:nth-child(4) { 
    min-width: 350px;
    max-width: 500px;
    width: 40%;
}

.task-checklist th {
    background-color: #f2f2f2;
}

.form-control {
    width: 100%;
    padding: 8px;
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: none;
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
    height: 80px;
}

select.form-control {
    appearance: none;
    background-color: #fff;
    cursor: pointer;
    text-align: center;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0px 4px 8px rgba(0, 123, 255, 0.2);
    outline: none;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.status-button-wrapper {
    display: flex;
    align-items: center;
}

.dropdown-arrow {
    font-size: 12px;
    display: inline-block;
    width: 100%;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    list-style-type: none;
    border: 1px solid #ccc;
    margin: 0;
    padding: 0;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown-menu li {
    padding: 8px;
    cursor: pointer;
    background-color: #f1f1f1;
}

.status-button, .arrow-button {
    padding: 8px;
    border: 1px solid #ccc;
    cursor: pointer;
    text-align: center;
    color: white;
    border-radius: 5px;
}

.status-button {
    flex: 1;
    border-right: none;
    border-radius: 5px 0 0 5px;
}

.arrow-button {
    width: 30px;
    margin-left: -5px;
    border-left: none;
    border-radius: 0 5px 5px 0;
}

.status-button.status-todo {
    color: #083d77;
}

.arrow-button.status-todo {
    background-color: #083d77;
    color: white;
}

.status-button.status-done {
    background-color: #f1f1f1;
    color: #0cce6b;
}

.arrow-button.status-done {
    background-color: #0cce6b;
    color: white;
}

.status-button.status-skipped {
    color: #ed7d3a;
}


.arrow-button.status-skipped {
    background-color: #ed7d3a;
    color: white;
}


.status-todo {
    color: #083d77;
    border-bottom: 1px solid #ccc;
}

.status-skipped {
    color: #ed7d3a;
}

.status-todo:hover {
    background-color: #083d77; 
    color: #f1f1f1; 
}

.status-skipped:hover {
    background-color: #ed7d3a; 
    color: #f1f1f1; 
}

.status-done:hover {
    background-color: #0cce6b;
    color: #f1f1f1;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.modal-content {
    display: flex;
    z-index:1000;
    flex-direction: column;
    align-items: center;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 0;
    top: -10px;
    padding: 10px; 
    cursor: pointer; 
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.custom-reload-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.custom-reload-modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
}

#customReloadButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#customReloadButton:hover {
    background-color: #45a049;
}


@media screen and (max-width: 768px) {
    .task-checklist th, .task-checklist td {
        font-size: 12px;
    }

    .task-checklist td:nth-child(1) {
        min-width: 150px;
        max-width: 250px;
    }

    .task-checklist td:nth-child(2) { 
        min-width: 80px;
        max-width: 120px;
    }

    .task-checklist td:nth-child(3) { 
        min-width: 100px;
        max-width: 120px;
    }

    .task-checklist td:nth-child(4) { 
        min-width: 200px;
        max-width: 300px;
    }
}

@media screen and (max-width: 480px) {
    .task-checklist {
        font-size: 10px;
    }

    .task-checklist th, .task-checklist td {
        padding: 5px;
    }

    .status-button-wrapper {
        flex-direction: column; 
    }

    .status-button, .arrow-button {
        width: 100%;
        margin-left: 0;
        margin-bottom: 5px; 
        border-radius: 5px; 
    }
}

#submitSkip {
    width: 100px; 
    padding: 7px 10px; 
    background-color: #0056b3;
    color: #f1f1f1; 
    font-size: 16px; 
    font-weight: bold; 
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s ease;
    margin-top: 7px;
}

#submitSkip:hover {
    background-color: #b9d8ee; 
    color: #0056b3;
}

.custom-guard-dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.guard-search {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
    height: 41.6px;
}

.guard-dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    z-index: 1000;
    max-height: 170px; 
    overflow-y: auto; 
}

.guard-dropdown-menu.show {
    display: block;
}

.guard-option {
    padding: 8px 12px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

    .guard-option:hover {
        background-color: #f0f0f0;
    }

.dropdown-section {
    padding: 8px 12px;
    font-weight: bold;
    color: #555;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
}
